# JWT認証用のシークレットキー
JWT_SECRET=jwt-secret-key-placeholder

# 環境
NODE_ENV=development

# バックエンドAPIのURL
NEXT_PUBLIC_API_URL=http://localhost:8082
NEXT_PUBLIC_DIARY_URL=http://localhost:8080
NEXT_PUBLIC_DIARY_ANALYSIS_URL=http://localhost:8081

NEXT_PUBLIC_COOKIE_DOMAIN=localhost